*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
:root {
    --primary: #fcfcfc;
    --secondary: #c6a6f2;
    --ternary: #af82ed;
}
body{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary);
}
h1{
    color: var(--primary);
}
#reset{
    font-size: 1rem;
    cursor: pointer;
    font-weight: 400;
    background-color: var(--primary);
    border: 1px solid var(--ternary);
    padding: 5px 10px 5px 10px;
    border-radius: 30px;
    transition: all 0.1s ease;
}
#reset:hover{
   
    background-color: var(--ternary);
    color: var(--primary);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
.box{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    cursor: pointer;
}